<a href="https://colab.research.google.com/github/derkaiser9423/PythonPracticeProject/blob/master/List%2C_Tuple%2C_Set%2C_Dictonary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to create an empty list, set, tuple, or dictionary.

In [ ]:
# Create an empty list
list1 = [] # Square backets
list2 = list() # List method

In [ ]:
print(type(list1))
print(type(list2))

<class 'list'>
<class 'list'>

In [ ]:
# Create an empty tuple
tuple1 = () #  Parentheses
tuple2 = tuple() # Tuple method

In [ ]:
print(type(tuple1))
print(type(tuple2))

<class 'tuple'>
<class 'tuple'>

In [ ]:
# Create an empty set
set1 = {*()} # Asterisk with round brackets
set2 = set() # Set method

In [ ]:
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [ ]:
# Create an empty dictionary
dict1 = {} # Curly braces
dict2 = dict() # Dict method

In [ ]:
print(type(dict1))
print(type(dict2))

<class 'dict'>
<class 'dict'>

# How to create non-empty list, tuple, set, or dictionary

In [ ]:
# List - mutable
list1 = ['1', '2', '2', True, 3, 3, 4, 4] # A straightforward way to create a list with square brackets
list2 = list(['1', '2', '2', True, 3, 3, 4, 4]) # The same to list1 above. A list created from... a list
list3 = list(('1', '2', '2', True, 3, 3, 4, 4)) # That a tuple converted to a list using list method
list4 = list({'1', '2', '2', True, 3, 3, 4, 4}) # That a set converted to a list using list method

In [ ]:
print(list1)
print(list2)
print(list3)
print(list4)

['1', '2', '2', True, 3, 3, 4, 4]
['1', '2', '2', True, 3, 3, 4, 4]
['1', '2', '2', True, 3, 3, 4, 4]
[True, 3, 4, '2', '1']

When using curly braces {}, first it is a set, then it is converted to a list. Therefore, as a set, only unique values present in list4.

In [ ]:
# Tuple - immutable
tuple1 = ('1', '2', '2', True, 3, 3, 4, 4) # A straightforward way to create a tuple with parenthese
tuple2 = tuple(('1', '2', '2', True, 3, 3, 4, 4)) # The same to tuple1 above. A tuple created from...a tuple
tuple3 = tuple(['1', '2', '2', True, 3, 3, 4, 4]) # That a list converted to a tuple using tuple method
tuple4 = tuple({'1', '2', '2', True, 3, 3, 4, 4}) # That a set converted to a tuple using tuple method

In [ ]:
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)

('1', '2', '2', True, 3, 3, 4, 4)
('1', '2', '2', True, 3, 3, 4, 4)
('1', '2', '2', True, 3, 3, 4, 4)
(True, 3, 4, '2', '1')

When using curly braces {}, first it is a set, then it is converted to a tuple. Therefore, as a set, only unique values present in tuple4.

In [ ]:
# Set - mutable
set1 = {'1', '2', '2', True, 3, 3, 4, 4} # A straightforward way to create a set with curly braces
set2 = set({'1', '2', '2', True, 3, 3, 4, 4}) # The same to set1 above. Create a set from a...set using set method
set3 = set(('1', '2', '2', True, 3, 3, 4, 4)) # That a tuple converted to a set using set method
set4 = set(['1', '2', '2', True, 3, 3, 4, 4]) # That a list converted to a set using set method

In [ ]:
print(set1)
print(set2)
print(set3)
print(set4)

{True, 3, 4, '2', '1'}
{True, 3, 4, '2', '1'}
{True, 3, 4, '2', '1'}
{True, 3, 4, '2', '1'}

Because a set does not allow duplicate values, all duplicate values are removed.

In [ ]:
# Dictionary - mutable
dict1 = {1: "Apple", 2: " Blueberry", 3: "Cucumber"} # Assign pairs of key and according value to a variable as a dictionary
dict2 = ({1: "Apple", 2: " Blueberry", 3: "Cucumber"}) # Use dict method with curly bracecs only. NOT square brackets or parentheses

In [ ]:
print(dict1)
print(dict2)

{1: 'Apple', 2: ' Blueberry', 3: 'Cucumber'}
{1: 'Apple', 2: ' Blueberry', 3: 'Cucumber'}

# Accessing data

In [ ]:
# Accessing data in a list
print(list1)
print(list1[0]) # Call the index. Here is the first value
print(list1[-1]) # Call the backward index. Here is the last value
print(list1[0:2]) # Call the range index. Here is from index 0 to 1. It returns a list of values

['1', '2', '2', True, 3, 3, 4, 4]
1
4
['1', '2']

In [ ]:
# Accessing data in a tuple
print(tuple1)
print(tuple1[0]) # Call the index. Here is the first value
print(tuple1[-1]) # Call the backward index. Here is the last value
print(tuple1[0:3]) # Call the range index. Here is from index 0 to 2. It returns a tuple of values

('1', '2', '2', True, 3, 3, 4, 4)
1
4
('1', '2', '2')

In [ ]:
# Accessing data in a set
print(set1)
# print(set1[0]) # Actually it does not work. A set is a set

{True, 3, 4, '2', '1'}

In [ ]:
# Accessing data in a dictionary
print(dict1)
print(dict1[1]) # Access a value by using its key
print(dict1.keys()) # Access to the list of all keys
print(dict1.values()) # Access to the list of all values
print(dict1.items()) # Access to the list of all pairs of key and value

{1: 'Apple', 2: ' Blueberry', 3: 'Cucumber'}
Apple
dict_keys([1, 2, 3])
dict_values(['Apple', ' Blueberry', 'Cucumber'])
dict_items([(1, 'Apple'), (2, ' Blueberry'), (3, 'Cucumber')])

# Changing values

In [ ]:
# List - mutable
print(list1)
list1[0] = 100 # Assign new value to the current value. Here is the first value "1" to "100"
print(list1)

['1', '2', '2', True, 3, 3, 4, 4]
[100, '2', '2', True, 3, 3, 4, 4]

That is how you know list is mutable. You can change values in a current list.

In [ ]:
# Tuple - immutable
print(tuple1)
# tuple1[-1] = True # It does not work

('1', '2', '2', True, 3, 3, 4, 4)

That is how you know tuple is immutable. You cannot change values.

In [ ]:
# Set - immutable
print(set1)
# set1[0] = 1 # It does not work

{True, 3, 4, '2', '1'}

Set is immutable also. Again, set does not contain duplicate values.

In [ ]:
# Dictionary - mutable
print(dict1)
dict1[1] = 'Orange' # Replace current value with its key. Here is the value with key '1'
dict1[4] = dict1.pop(2) # Explanation below
print(dict1)

{1: 'Apple', 3: 'Cucumber', 2: ' Blueberry'}
{1: 'Orange', 3: 'Cucumber', 4: ' Blueberry'}

Initially, dict1 contains key-value pairs {1: 'Apple', 2: 'Blueberry', 3: 'Cucumber'}.
dict1.pop(2) removes the key-value pair associated with the key 2 (2: 'Blueberry') from dict1. The value 'Blueberry' is returned by pop() and removed from dict1.
The returned value 'Blueberry' is then assigned to the key 4 in dict1, resulting in the dictionary dict1 containing {1: 'Apple', 3: 'Cucumber', 4: 'Blueberry'}.

# Adding and removing values

In [ ]:
# List - mutable
print(list1)
list1.append('d') # Add value 'd' to the end of the list using append method
list1.pop(0) # Remove the first value of the list
print(list1)

[100, '2', '2', True, 3, 3, 4, 4, 'd']
['2', '2', True, 3, 3, 4, 4, 'd', 'd']

And you can only add new value to the end of the list.

In [ ]:
# Tuple is immutable. So, forget about it

In [ ]:
# Set - immutable. But we still can add or remove values
print(set1)
set1.add('000') # Add value '000' to the end of the set using add method. DIFFERENT from list using append method
set1.pop() # Remove the first value of the set
print(set1)

{True, 3, 4, '2', '1'}
{3, 4, '2', '1', '000'}

In [ ]:
# Dictionary - mutable
print(dict1)
dict1.update({2: "Banana"}) # Add new pair of key and value to the dictionary at the end of the dictionary
dict1.pop(1) # Remove pair of key and value at the coresponding key. Here is the pair with key '1'
print(dict1)

{1: 'Orange', 3: 'Cucumber', 4: ' Blueberry'}
{3: 'Cucumber', 4: ' Blueberry', 2: 'Banana'}

# Sorting

In [ ]:
# All set, list, tuple, and dictionary can be sorted
list10 = [10, 9, 8, 3, 2, 1]
tuple10 = (10, 9, 8, 3, 2, 1)
set10 = {10, 9, 8, 3, 2, 1}
dict10 = {3: "Banana", 2: "Zelon", 4: "Rolan"}
print(sorted(list10)) # Be aware! It cannot sort the Boolean values or different type values (e.g, int and str)
print(sorted(tuple10))
print(sorted(set10))
print(sorted(dict10)) # It sorts the keys only
print(sorted(dict10.items())) # Or you can add the items() method to list all pairs of sorted key and value

# Also, you can use the sort() method with list
list10.sort(reverse=True) # You can also use the reverse=True argument to sort descendingly
print(list10)

[1, 2, 3, 8, 9, 10]
[1, 2, 3, 8, 9, 10]
[1, 2, 3, 8, 9, 10]
[2, 3, 4]
[(2, 'Zelon'), (3, 'Banana'), (4, 'Rolan')]
[10, 9, 8, 3, 2, 1]